<launch>

   <node name="jetbot_camera" pkg="jetbot_ros" type="jetbot_camera" />

   <node name="image_republish" pkg="image_transport" type="republish" args="raw compressed">
      <remap from="in" to="/jetbot_camera/raw" />
      <remap from="out" to="/jetbot_camera" />
   </node>

   <node name="controll" pkg="sim_nank" type="controll.py"/>

</launch>


