<launch>
   <arg name="avoidance_model" default="$(find sim_nank)/weights/best_model_resnet18.pth"/>

   <arg name="following_model" default="ssd"/>
   <arg name="following_model_path" default="$(find sim_nank)/weights/mobilenet-v1-ssd-mp-0_675.pth"/>
   <arg name="speed" default="0.5"/>
   <arg name="turn_gain" default="0.2"/>
   <arg name="turn_block" default="0.5"/>
   <arg name="target_label" default="15"/>
   <arg name="display" default="true"/>
   <arg name="follow_argorithm" default="object_following_ssd.py" />

   <node name="image_republish_server" pkg="image_transport" type="republish" args="compressed raw">
      <remap from="in" to="/jetbot_camera" />
      <remap from="out" to="/image" />
   </node>

   <!--<node name="camera" pkg="image_view" type="image_view" /> -->

   <node name="object_following" pkg="sim_nank" type="$(arg follow_argorithm)" output="screen" >
      <param name="avoidance_model" value="$(arg avoidance_model)"/>
      <param name="following_model" value="$(arg following_model)"/>
      <param name="following_model_path" value="$(arg following_model_path)"/> 
      <param name="speed" value="$(arg speed)"/>
      <param name="turn_gain" value="$(arg turn_gain)"/>
      <param name="turn_block" value="$(arg turn_block)"/>
      <param name="target_label" value="$(arg target_label)"/>
      <param name="display" value="$(arg display)"/>
   </node>

</launch>
